../../compiler/x/amd64/codegen/OMRCodeGenerator.cpp
../../compiler/x/amd64/codegen/OMRMachine.cpp
../../compiler/x/amd64/codegen/OMRMemoryReference.cpp
../../compiler/x/amd64/codegen/OMRRealRegister.cpp
../../compiler/x/amd64/codegen/OMRTreeEvaluator.cpp
../../compiler/x/amd64/codegen/AMD64SystemLinkage.cpp